body {
    background-color: #EFEFEF;
    padding-bottom: 110px;
}

/* About CSS */
@media (max-width: 768px) {
    .about-us-img {
        height: calc(25vw);
        object-position: 0px 0px;
        overflow: hidden;
        width: calc(100vw);
        object-fit: cover;
    }
}

/*footer css*/
footer{
    background-color: #3E2723;

}

.copyright-div{
    background-color: #000000 !important;
}

#socials a i {
    font-size: 25px;
}
/*header css*/
.navbar{
    z-index: 2;
    background-color: #F5F5F5;
}

/*home page css*/
/*carousal*/
.carousal-image {
    width: 100%;
    object-fit: cover;
    top: 0;
    position: relative;
}

.carousel-item {
    max-height: 30rem;
}

.carousal-text {
    left: 5%;
    top:45%;
    border-radius: 1rem;
    padding:1.5rem;
}

.carousal-text p{
    font-size: 1.5rem;
    font-style: italic;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(62, 39, 35,);
}
.project-btn{
    color:#F5F5F5;
    background-color: rgba(201, 164, 94, 0.7);
}




/*our story css*/
#ourstory-img{
    border: 0.5rem solid #FFFFFF;
    border-bottom-width: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.our-story-container {
    background-color: #f5f5f5;
    padding: 2rem;
}
.our-story-container h2 {
    color: #000000;
}
.our-story-container p {
    color: #555555;
}

#logo-name {
    left: 5%;
    top:15%;
}

/*our story image overlay*/
#overlay {
    color: white;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#overlay p{
    color:#FFFFFF;
}

.blury {
    filter: blur(0.3rem);
}

/*cafe menu css*/

#menu-section {
    background-color: #F5F5F5;
    padding: 1rem;
    width:100%;
    border: 0.125rem solid #000000;
}

.video-container {
    position: relative;
    height: 28rem;
    z-index: -1; 
}
#cafemenu-video{
    top:1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
}


/*media queries homepage large screens*/
@media (min-width: 992px) {
    /*home page*/
    .carousal-text {
        left: 25%;
        top:35%;
        border-radius: 1rem;
        padding:1.5rem;
    }
    
    .carousal-text p{
        font-size: 2rem;
        font-style: italic;
        text-shadow: 0.1rem 0.1rem 0.2rem rgba(62, 39, 35)
    }
    
    #ourstory-img{
        height: 40rem;
    }
	
	/* Hide all sections initially */
    #classesSection, #careersSection, #storySection {
        display: none;
    }
    
}

/*.open-sans-Font-Test {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}*/

