body {
    background-color: #EFEFEF;
    padding-bottom: 110px;
}

/* About CSS */
@media (max-width: 768px) {
    .about-us-img {
        height: calc(25vw);
        object-position: 0px 0px;
        overflow: hidden;
        width: calc(100vw);
        object-fit: cover;
    }
}

/*home page css*/
/*carousal*/
.carousal-image {
    width: 100%;
    object-fit: cover;
    top: 0;
    position: relative;
}

.carousel-item {
    max-height: 25rem;
}

.carousal-text {
    left: 5%;
    top:45%;
    border-radius: 1rem;
    padding:1.5rem;
}

.carousal-text p{
    font-size: 1.5rem;
    font-style: italic;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(62, 39, 35,);
}
.project-btn{
    color:#F5F5F5;
    background-color: rgba(201, 164, 94, 0.7);
}


/*footer css*/
footer{
    background-color: #3E2723;

}

.copyright-div{
    background-color: #000000 !important;
}

#socials a i {
    font-size: 25px;
}
/*header css*/
.navbar{
    z-index: 2;
    background-color: #F5F5F5;
}
/*media queries large screens*/
@media (min-width: 992px) {
    /*home page*/
    .carousal-text {
        left: 25%;
        top:35%;
        border-radius: 1rem;
        padding:1.5rem;
    }
    
    .carousal-text p{
        font-size: 2rem;
        font-style: italic;
        text-shadow: 0.1rem 0.1rem 0.2rem rgba(62, 39, 35)
    }
    /* footer css*/
    .container {
        max-width: 80%;
    }

/*.open-sans-Font-Test {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

}